body{
	background-color:#ffd8d9;
	margin:1px 0px 0px 0px;
	padding:0px;
	text-align:center;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

#container{
	position:relative;
	margin:0px auto 0px auto;
	width:900px;
	text-align:left;
}

#banner img {
	width: 100%;
	height:100px;
}

#globallink{
	margin:0px; padding:0px;
	width:900px;
	align:center;
}
#globallink ul{
    list-style:none;
	padding:0px;
	margin:0px 0px 0px 3px;  
}
#globallink li{ 
	text-align:center;
	float:left;  
	/*width:127px;*/
	width: 20%;
	padding:0px; 
	margin:0px;
}

#globallink a{   
	display:block;
	border-left: 1px dashed blue;
	border-right: 1px dashed blue;
	padding:5px 5px 5px 0px;
	/*
	background:url('http://localhost:8080/CarSellSystem/images/button1.jpg') repeat-x;
	*/
	margin:0px;
}
#globallink a:link, #globallink a:visited{
	color:#630002;
	text-decoration:none;
}
#globallink a:hover{
	color:#FFFFFF;
	text-decoration:underline;
	/*
	background:url('http://localhost:8080/CarSellSystem/images/button1_bg.jpg')  repeat-x;
	  替换背景图片 */
	background-color:green;
}

#left{  
	width:150px;
	height:450px;
	float:left;
	/*background:#FFFFFF url(leftbottom.jpg) no-repeat bottom;*/ /*下端圆角 */ 
	margin:1px 0px 0px 0px;
	background-color:lightyellow;
}

#left #MenuTitle{
	width:100%;
	margin:0px;
	padding:0px;
	float:left;
}
#left #NavMenu {
	float:left;
	width:100%;
	margin:0px;
	padding:0px 0px 0px 5px;
	background-color:lightyellow;
}	

#left #MenuTitle img {
	width:100%;
	margin:0px 0px 5px 0px;
}


#main{
	float:left;
	width:710px;
	height:450px;
	margin:1px 0px 0px 2px
}
 
 
 #footer{
	background-color:#FFFFFF;
	margin:1px 0px 0px 0px;
	clear:both;
	width:100%;
	position:relative;
	padding:1px 0px 1px 0px;
}

#footer p{
	text-align:center;
	padding:0px;
	margin:4px 5px 4px 5px;
	background-color:#5ea6eb;
}
#footer p a{
	color:#FFFFFF;
	text-decoration:none;
}

/*下面是树形菜单的样式*/
.branch {
 DISPLAY: block; 
 CURSOR: hand
 
}

.leaf {
 DISPLAY: none;
  MARGIN-LEFT: 16px;
}
 
A:hover {
 TEXT-DECORATION: underline
}
A:link, A:visited{
	color:#ff00ff;
	text-decoration:none;
}






























