<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.LeaveWordMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加留言投诉记录 -->
	<insert id="addLeaveWord" parameterType="leaveWord">
		insert into t_leaveWord(title,content,addTime,ownerObj,replyContent,replyTime,opUser) values 
		(#{title},#{content},#{addTime},#{ownerObj.ownerId},#{replyContent},#{replyTime},#{opUser})
	</insert>

	<!-- 按照查询条件分页查询留言投诉记录 -->
	<select id="queryLeaveWord" resultMap="leaveWordMap" >
		select t_leaveWord.* from t_leaveWord,t_owner ${where} and t_leaveWord.ownerObj = t_owner.ownerId limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="leaveWordMap" type="leaveWord">
        <id property="leaveWordId" column="leaveWordId" />
        <association property="ownerObj" column="ownerObj" select="com.chengxusheji.mapper.OwnerMapper.getOwner" />
    </resultMap>

    <!-- 按照查询条件查询所有留言投诉记录 -->
	<select id="queryLeaveWordList" resultMap="leaveWordMap" >
		select t_leaveWord.* from t_leaveWord,t_owner ${where} and t_leaveWord.ownerObj = t_owner.ownerId
	</select>

    <!-- 按照查询条件的留言投诉记录数 -->
	<select id="queryLeaveWordCount" resultType="int">
		select count(*) from t_leaveWord,t_owner ${where} and t_leaveWord.ownerObj = t_owner.ownerId
	</select>

	<!-- 根据主键查询某个留言投诉记录 -->
	<select id="getLeaveWord" parameterType="int" resultMap="leaveWordMap">
		select * from t_leaveWord where t_leaveWord.leaveWordId = #{leaveWordId}
	</select>

	<!-- 更新留言投诉记录 -->
	<update id="updateLeaveWord" parameterType="leaveWord">
		update t_leaveWord set title=#{title},content=#{content},addTime=#{addTime},ownerObj=#{ownerObj.ownerId},replyContent=#{replyContent},replyTime=#{replyTime},opUser=#{opUser} where leaveWordId = #{leaveWordId}
	</update>

	<!-- 删除留言投诉记录 -->
	<delete id="deleteLeaveWord" parameterType="int">
		delete from t_leaveWord where leaveWordId=#{leaveWordId}
	</delete>

</mapper>
